# Cambiar los @handles por los usuarios reales de GitHub en la Semana 1
/src/core/    @alejandro
/src/audio/   @fabrizio
/src/ai/      @isaac
/src/ui/      @monestel
/src/shared/  @alejandro
/mocks/       @alejandro
